@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

button{
    padding:10px,15px ;
    border: none;
    transition: 0.2s ease-in-out;
}

button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.logoimage{
    width:150px;
    height: 100px;
    transition: 0.2s ease-in-out;
}

.photoimage{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.photoimage:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.small-image {
    width: 170px; /* Adjust the width to your desired size */
    height: 150px; /* Maintain the aspect ratio */
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    
}

.small-image:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
 
nav{
    box-shadow: 5px 5px 5px 5px rgba(1, 1, 1, 0.05) ;
    position: sticky;
    top:0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add some padding for better visual separation */
}

.logo_container {
    display: flex;
    align-items: center;
}

.bar_icon {
    font-size: 24px; /* Adjust icon size */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.main{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.simage {
    width: 600px; /* Adjust the width to your desired size */
    height: 900px; /* Maintain the aspect ratio */
}
 
.main_content{
    display: flex;
    flex-direction:column ;
    gap: 20px;
}

.tag{
    background-color: rgb(240, 192, 237);
    padding:5px 10px;
    color: white;
    align-self: flex-start;
    font-size: larger;
}

.main_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

.main_content p{
    font-size: large
}
.explore_btn{
    background-color: rgb(173, 233, 242);
    align-self: flex-start;
    font-size: large;
    font-weight: bold;
}

@media (max-width:786px){
    .main{
        flex-direction: column;
    }

    .main_image{
        display: flex;
        justify-content: center;
    }
    .main_image{
        width: 90%;
    }

    .main_content{
        gap: 10px;
        padding: 10px;
    }

    .main_content h1{
        font-size: 32px;
        line-height: 1.2;
    }
}

/* Features Section */
.features {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
  }
  .feature {
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
  }
  .feature img {
    width: 72px;
  }
  .feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  }
  .divider {
    border: 1px solid #ccc;
    margin: 20px 0;
  }

  
/* Menu Section */

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}

.menu .tag{
    align-self: center;
}

.grid{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "P1 P1 P2 P3"
    "P1 P1 P2 P7"
    "P4 P5 P6 P7";
}

.photo1 {
    grid-area: P1;
  }
  .photo2 {
    grid-area: P2;
  }
  .photo3 {
    grid-area: P3;
  }
  .photo4 {
    grid-area: P4;
  }
  .photo5 {
    grid-area: P5;
  }
  .photo6 {
    grid-area: P6;
  }
  .photo7 {
    grid-area: P7;
  }

  /* Footer Section */

footer {
    background-color: #fff0db;
  }
  .link_lists h3 {
    margin-bottom: 10px;
    color: gray;
  }
  .link_lists ul {
    list-style: none;
  }
  .link_lists ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .news_letter h3 {
    margin-bottom: 10px;
    color: gray;
  }
  .news_letter input {
    padding: 5px 40px;
    margin-bottom: 10px;
  }
  .footer_container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  .icon_container {
    display: flex;
    gap: 15px;
    font-size: 32px;
  }
  @media (max-width: 786px) {
    .hero {
      flex-direction: column;
    }
  
    .hero_image {
      display: flex;
      justify-content: center;
    }
    .hero_image img {
      width: 80%;
    }
    .hero_content {
      gap: 10px;
  
      padding: 0 20px;
    }
    .hero_content h1 {
      font-size: 32px;
    }
    .features {
      flex-direction: column;
    }
    .feature {
      flex-direction: column;
    }
    .grid {
      padding: 10px;
    }
    .grid-image {
      border-radius: 0px;
    }
    .footer_container {
      flex-direction: column;
    }
  }